<h1>AngularCoreDemo</h1>
<p>An online application built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> and <a href='https://element-angular.faas.ele.me/guide/install'>Element-Angular</a> for layout and styling</li>
  <li><a href='https://mysql.com/'>MySQL</a> for Database services</li>
</ul>
<p>created by <a href='https://github.com/xusysh'>xusysh</a> 2019.07</p>
