<div el-container direction="vertical" class="type-num-container">
  <div el-header>
    <h1 align="center">小键盘录入测试</h1>
  </div>
  <div el-header height="15px"></div>
  <div el-container>
    <div el-aside align="center" width="32%"></div>
    <div el-aside align="center" width="36%">
      <el-input *ngFor="let num_row of generated_num_rows"
                placeholder="输入内容以开始计时" maxlength="16">
        <ng-template #prepend>
          <code style="color:blue; background:none;">{{num_row.num1 | number:'3.0'}}</code>
          <code style="color:blue; background:none;">{{num_row.num2 | number:'3.0'}}</code>
          <code style="color:blue; background:none;">{{num_row.num3 | number:'3.2'}}</code>
        </ng-template>
      </el-input>
    </div>
    <div el-aside align="center" width="6%"></div>
    <div el-aside align="center" width="20%">
      <button (click)="BeginTest()">开始测试</button>
      <el-card class="box-card" *ngIf="start_count">
        <div>剩余时间：{{min}}分{{sec | number:'2.0'}}秒</div>
        <div>录入速度：{{line_per_minute}}行/分钟</div>
      </el-card>
    </div>
    <el-dialog [close-on-click-modal]="false" [(visible)]="end_count">
      <ng-template #title>
        <span>测试结束</span>
      </ng-template>
      <span>提交成绩</span>
      <ng-template #footer>
        <el-button (click)="PostRecord()">确定</el-button>
      </ng-template>
    </el-dialog>
    <div el-aside align="center" width="6%"></div>
  </div>
 </div>

  <div>

  </div>
