<h1 align="center">查看纪录</h1>

<p *ngIf="!comments">
  <em>
    <div class="demo" [el-loading]="true" [text]="'拼命加载中'">
      <el-tag>加载中..</el-tag>
    </div>
  </em>
</p>

<el-table [model]="comments" height="50%" *ngIf="comments">
  <el-table-column model-key="id" label="楼层" width="100">
  </el-table-column>
  <el-table-column model-key="uname" label="用户昵称" width="200">
  </el-table-column>
  <el-table-column model-key="content" label="评论">
  </el-table-column>
  <el-table-column model-key="datetime" label="时间">
  </el-table-column>
</el-table>
