<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>AngularCore</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Home
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/type-num-normal"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-sort-by-order-alt'></span> 小键盘录入测试
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/type-num"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-sort-by-order-alt'></span> 小键盘录入测试(加强版)
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/type-ch"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-sort-by-alphabet'></span> 打字测试
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/check-records"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-comment'></span> 查看纪录
              </a>
            </li>
          </ul>
        </div>
    </div>
</div>
